*.o
*.DS_Store
cache/*

sum/eigen_kernel
sum/mkl_kernel
sum/taco_kernel

spadd/eigen_kernel
spadd/mkl_kernel
spadd/taco_kernel
spadd/spadd_eigen
spadd/spadd_mkl

mttkrp/eigen_kernel
mttkrp/mkl_kernel
mttkrp/taco_kernel
mttkrp/mttkrp_taco
mttkrp/data/

spgemm/spgemm_eigen
spgemm/spgemm_mkl

hadamard/hadamard_eigen

spmspv/spmspv_eigen

structured/*.err
structured/*.out

structured/add/cv_kernel

structured/histogram/cv_kernel

deps/SparseRooflineBenchmark/build
.vscode/settings.json
cache/*
*.jls
*.out
graphs/lib
graphs/bin
graphs/share
graphs/pyvenv.cfg
images/output/*
*/Manifest.toml
Manifest.toml
old/*
morphology/output/*
*/manifest.toml
opencv/*
taco-rle/*
taco/*
.julia/*
