*.o
*.DS_Store
cache/*

sum/eigen_kernel
sum/mkl_kernel
sum/taco_kernel
spadd/eigen_kernel
spadd/mkl_kernel
spadd/taco_kernel
MTTKRP/eigen_kernel
MTTKRP/mkl_kernel
MTTKRP/taco_kernel

MTTKRP/data/*.tns

deps/SparseRooflineBenchmark/build
.vscode/settings.json
cache/*
*.jls
*.out
graphs/lib
graphs/bin
graphs/share
graphs/pyvenv.cfg
images/output/*
*/Manifest.toml
Manifest.toml
old/*
morphology/output/*
*/manifest.toml
opencv/*
taco-rle/*
taco/*
.julia/*
