*.o
*.DS_Store
cache/*
spmv/spmv_taco
spgemm/spgemm_taco
deps/SparseRooflineBenchmark/build
deps/taco
spadd/spadd_taco
.vscode/settings.json
cache/*
*.jls
*.out
*/Manifest.toml
Manifest.toml
old/*
*/manifest.toml
taco-rle/*
taco/*
.julia/*
