[submodule "deps/SparseRooflineBenchmark"]
	path = deps/SparseRooflineBenchmark
	url = git@github.com:SparseRooflineBenchmark/SparseRooflineBenchmark.git
[submodule "deps/taco"]
	path = deps/taco
	url = git@github.com:tensor-compiler/taco.git
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "deps/cora"]
	path = deps/cora
	url = https://github.com/pratikfegade/cora.git
[submodule "deps/LAGraph"]
	path = deps/LAGraph
	url = https://github.com/GraphBLAS/LAGraph
[submodule "deps/GraphBLAS"]
	path = deps/GraphBLAS
	url = https://github.com/DrTimothyAldenDavis/GraphBLAS.git
